body {
  width: 800px;
  margin: 20px auto 20px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
img {
  max-width: 100%;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
table, th, td {
  border: 1px solid black;
}
.marginnote {
  background: #ddd;
  padding: 0 10px;
  float: right;
  position: relative;
  left: 270px;
  width: 250px;
  margin-left: -250px;
  font-size: 0.9em;
}
